{% extends "admin/change_form.html" %}
{% block object-tools-items %}
  <li style="float: none; margin-bottom: 15px">
    <a href="{% url 'admin:send-host-signup-notification-en' pk=original.pk %}" class="grp-state-focus">
        Send Host Signup Notification (EN)
    </a>
  </li>
  <li style="float: none; margin-bottom: 15px">
    <a href="{% url 'admin:send-host-signup-notification-am' pk=original.pk %}" class="grp-state-focus">
        Send Host Signup Notification (AM)
    </a>
  </li>
  {{ block.super }}
{% endblock %}
